$theme-colors: (
  "primary": #a50034,
);

@import "~bootstrap/scss/bootstrap";

body {
  font-family: Avenir, sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}

#content {
  margin-top: 53px;
}

@media(min-width: 768px) {
  body {
    background-color: #f5f5f5;
  }
}

.search__no-results {
    background-color: white;
    margin-top: 70px;
    padding: 20px;
    font-size: 18px;
}

.flix-mbl-logo {
  display: none;
}

@import '~react-toastify/dist/ReactToastify.css';
@import '~react-image-gallery/styles/css/image-gallery.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~slick-carousel/slick/slick.scss';
@import './components/Landings/InstantPartySummer/InstantPartySummer.css';
@import './components/Landings/PlanPerfecto/PlanPerfecto.css';
@import './components/Landings/LgWeek/LgWeek.css';
@import './components/NavBar/NavBar.css';
@import './components/NavBar/NavBarMobileSearch.css';
@import './components/Product/ProductBrowseResultDesktop.css';
@import './components/Product/ProductBrowseResultMobile.css';
@import './components/Product/ProductBrowseResults.css';
@import './components/Product/ProductBrowseSelectedResult.css';
@import './components/Product/ProductDetailDesktop.css';
@import './components/Product/ProductDetailMobile.css';
@import './components/Product/ProductDetailPictures.css';
@import './components/Product/ProductPricingTable.css';
@import './components/Slides/Carousel.css';
@import './components/Slides/NextArrow.css';
@import './components/Slides/PrevArrow.css';
@import './components/Slides/SlideDynamicPrice.css';
@import './components/SubcategoryMenu/SubcategoryMenu.css';
