.duplaperfectalg-body {
    background-color: white;
    padding: 10px 0 0 0;
    color: #5d5d5d;
}

.duplaperfectalg-body h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.duplaperfectalg-body a {
    font-weight: bold;
    text-decoration: underline;
    color: #a61637;
}

.duplaperfectalg-body input[type=text], .duplaperfectalg-body input[type=email], .duplaperfectalg-body input[type=number] {
    color: #5d5d5d;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.duplaperfectalg-body input[type=submit] {
    margin-right: 20px !important;
    background-color: #a61637 !important;
    width: 150px !important;
    height: 40px !important;
    font-size: 20px !important;
}

.duplaperfectalg-body__content {
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
}

.duplaperfectalg-body label {
    font-size: 13px;
    font-weight: bold;
}

.duplaperfectalg-body select {
    border: 1px solid #ABB0B2;
}

.duplaperfectalg-body .mc-field-group {
    min-height: 0 !important;
}

.duplaperfectalg-cta {
    background-color: #a61637;
}

.duplaperfectalg-body .mce_inline_error {
    background-color: white !important;
    color: red !important;
}

.duplaperfectalg-cta {
    color: white;
    font-weight: 200;
    padding: 10px 0;
}

.duplaperfectalg-cta strong {
    font-weight: 700;
}

.duplaperfectalg-cta__left {
    border-right: 1px solid white;
}

.duplaperfectalg__links {
    margin-top: 10px;
}

.duplaperfectalg__links a, .duplaperfectalg__links a:hover {
    text-decoration: none;
}

.duplaperfectalg__links > div {
    border: 1px solid #a61637;
    padding: 5px 0;
}

.duplaperfectalg__links > div.active {
    background-color: #a61637;
    font-weight: bold;
}

.duplaperfectalg__links > div.active a {
    color: white !important;
}